.texto {  font-family: Verdana; font-size: 9px; color: #333333}
.TEXTOC {  font-family: Verdana; color: #6699CC; font-size: 9px; text-decoration: underline; font-style: normal; font-weight: bold}
.texto-branco {  font-family: Verdana; font-size: 10px; color: #FFFFFF}
