$align: left;
$bg-color: #f2f2f0;
$color-01: rgb(237, 55, 55);
$color-02: rgb(107, 90, 90);
$color-03: rgba(32, 17, 165, 0.87);
$color-04: rgba(255, 255, 255, 0);
$color-05: rgba(255, 41, 41, 0.822);
$color-06: rgba(0,0,0);
$color-default: #f2f2f0;
$font-big: 3rem; 
$font-family-default: Arial, Helvetica, sans-serif;
$font-medium: 2.2rem;
$font-normal: 1.5rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;

